<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="static/favicon.ico">
    <title>Thank You</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif, sans-serif;
            background-color: #000000;
            text-align: center;
        }

        h1 {
            font-size: 80px;
            color: #ffffff;
            margin-top: 300px;
        }
    </style>
</head>
<body>
    <h1>Thank you for Using EazePark!</h1>
</body>
</html>
